@import url('https://fonts.googleapis.com/css?family=Poller+One');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*:focus {
  outline: none;
}

.App {
  min-height: 100vh;
  background: #191919;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 20px;
}

.main-header {
  margin: 0;
  padding: 45px 0 35px 0;
  font-family: 'Poller One', cursive;
  font-size: 2.5em;
  text-align: center;
  color: #191919;
  text-shadow: -1px -1px 0 #f2d83f, 1px -1px 0 #f2d83f, -1px 1px 0 #f2d83f, 1px 1px 0 #f2d83f;
}

.favorite-btn {
  position: absolute;
  right: 8px;
  height: 30px;
  margin: 5px auto;
  padding-left: 30px;
  background: transparent;
  color: #f2d83f;
  border: none;
  font-weight: 700;
  font-size: 0.8em;
  cursor: pointer;
  background: #191919 url(images/star.svg) no-repeat 7px 5px / 15px;

}

.favorite-btn:hover {
  border: 2px solid #f2d83f;
}