.buttons-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 50px;
  max-width: 300px;
  margin: 14px auto;
  border: 2px solid #f2d83f;
  background: transparent;
  color: #f2d83f;
  font-weight: 700;
  font-size: 0.8em;
  cursor: pointer;
}

.people:hover,
.active-people {
  background: #f2d83f url(images/darth_vader.svg) no-repeat 8px 0px / 50px;
  color: black;
}

.planet:hover,
.active-planets {
  background: #f2d83f url(images/planet.svg) no-repeat 8px 0px / 46px;
  color: black;
}
.vehicle:hover,
.active-vehicles {
  background: #f2d83f url(images/death_star.svg) no-repeat 8px 0px / 46px;
  color: black;
}

@media screen and (min-width: 550px) {
  .buttons-wrapper {
    text-align: center;
  }
  .filter-buttons {
    display: inline-block;
    width: 30%;
    margin: 5px;
  }
}