.filter-buttons {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 30px;
  margin: 14px auto;
  border: 2px solid #f2d83f;
  background: transparent;
  color: #f2d83f;
  font-weight: 700;
  font-size: 0.8em;
  cursor: pointer;
}

.filter-buttons:hover {
  background: #f2d83f;
  color: black;
}
