.opening-header {
  width: 80%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  letter-spacing: 0.5px;
}

.opening-header div {
  line-height: 30px;
  text-align: center;
  -moz-animation: scroll-up 25s linear;
  -webkit-animation: scroll-up 25s linear;
  animation: scroll-up 25s linear;
}

.opening-header p {
  margin: 10px auto;
  max-width: 900px;
}

@-moz-keyframes scroll-up {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}

@media screen and (min-width: 550px) {
  .opening-header p {
    font-size: 1.4em;
    line-height: 40px;
  }
  .opening-header h3 {
    font-size: 1.6em;
  }
  .opening-header h4 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 800px) {
  .opening-header p {
    font-size: 1.6em;
    line-height: 45px;
  }
  .opening-header h3 {
    font-size: 1.8em;
  }
  .opening-header h4 {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 1000px) {
  .opening-header p {
    font-size: 1.8em;
    line-height: 50px;
  }
  .opening-header h3 {
    font-size: 2.1em;
  }
  .opening-header h4 {
    font-size: 2.0em;
  }
}